<!-- ko with: home -->
<div class="jumbotron">
    <h1>CRM Scheduling Service</h1>
    <p class="lead">CRM Scheduler will let you run your CRM processes on a schedule, without the overhead of waiting workflows!</p>
    <p><a href="/CRMConnections" class="btn btn-primary btn-lg">Set up a connection &raquo;</a></p>
    <p><a href="/Jobs" class="btn btn-primary btn-lg">Set up a Job &raquo;</a></p>
</div>


<!-- /ko -->
